[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
pandas = "*"
numpy = "*"
"plotly.express" = "*"
seaborn = "*"
matplotlib = "*"
nbformat = "*"
plotly = "*"
scipy = "*"

[requires]
python_version = "3.8"
